/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/vendor
/.idea
/.vscode
/.vagrant
/.history
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock